/* Styling Asteric wildcard selector to override the default styles added by the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the body */
body {
    background-color: #171717;
    color: #ffffff;
    font-family: serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Styling the nav links */


header {
    width: 100%;
}

nav {
    width: 100%;
}

#logo {
    width: 3rem;
}

#nav-list a {
    color: #d9d6d6;
    font-size: 1.7rem;
}

#nav-list a:hover {
    transition-duration: 0.5s;
    color: #ff6633;
}

#home-content-header .title {
    color: #ff6633;
    font-family: 'The Season';
    text-align: center;
}

#home-content-header p {
    margin-top: -.9rem;
    font-size: 1rem;
    font-family: 'The season';
}

.hero-image {
    border-radius: 2rem;
}

#explore-container {
    margin-bottom: 2rem;
}

#explore-link {
    border: 1px solid #ff6633;
    border-radius: 3rem;
    color: #ffffff;
}

#explore-link a {
    font-family: 'The Season';
    color: #ffffff;
}

#explore-link:hover {
    transition-duration: 0.5s;
    color: #ff6633;
}


/* Project Display */



    /* Styling for the main slider container */
    .slider-container {
        position: relative;
        width: 80%;
        margin: auto;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px #0000001a;
      }
  
      /* Styling for the slides container and individual slides */
      .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
  
      .slide {
        min-width: 100%;
        box-sizing: border-box;
        overflow: hidden;
      }
  
      /* Styling for slide content */
      .slide-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        color: #fff;
        background-color: #171717;
        height: 100%;
        box-sizing: border-box;
      }
  
      h2 {
        margin-bottom: 10px;
        color: #ff6633;
        font-family: 'the seasons';
      }
  
      p {
        margin: 0;
        font-family: 'the seasons';
      }
  
      /* Styling for navigation buttons */
      .navigation-buttons {
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
      } 

      button {
        cursor: pointer;
        color: white;
        background-color: #ff6633;
        border: none;
        padding: .8rem 1rem;
        border-radius: 5px;
        outline: none;
        font-family: sans-serif;
      }
  
      button:hover {
        background-color: #f85114;
      }


/* End of Project Display */


/* Projects Section */
#projects-header h1 {
    color: #ff6633;
    letter-spacing: 3px;
    font-family: 'the seasons';
    font-weight: 800;
}

.card {
    background-color: #171717;
    width: 20rem;
    margin: 1.5rem;
}

.card-text {
    color: #ffffff;
}

.project-link {
    border: 1px solid #ff6633;
    border-radius: 4rem;
    color: #ffffff;
}

.project-link:hover {
    border: 1px solid #ff6633;
    color: #ff6633;
}

.card-title {
    color: #ff6633;
}
/* End Of Projects Section */


/* About Section */

#About {
    padding-bottom: 5rem;
}

#About h1 {
    color: #ff6633;
}

#about-info ul {
    font-family: 'the seasons';
}

#about-info li {
    color: #cdcccc;
    font-family: 'the seasons';
}

#about-img {
    width: 20rem;
    border-radius: 2rem;
}
/* End Of About Section */

/* Contact Section */

#Contact * {
    color: #ffffff;
}

    #contact-title {
        color: #ff6633;
    }

    input::placeholder {
        color: #cdcccc;
    }

    #submit {
    border: 1px solid #ff6633;
    border-radius: 3rem;
    color: #ffffff;
    }

    #submit:hover {
        color: #ff6633;
    }
/* End Of Contact Section */

/* Footer section */

.footer-link img:hover{
    background-color: #67615c;
    border-radius: 2rem;
}
/* End Of Footer Section */


/*Styling the Media queries and making the website responsive */

/* Small devices (landscape phones, 576px)*/
@media (max-width: 576px) {
  
        /*moving the the logo from left*/
        .navbar-brand {
            margin-left: 2rem;
        }

        /* Logo width */
        #logo {
            width: 4rem;
        }


    #icon-menu {
        width: 1.8rem;
        border-radius: 3rem;
        padding: .5rem;
    }

    #span {
        width: 1.5rem;
        padding: .5rem;
        position: relative;
        right: 0;
        left: -.4rem;
    }

    /* About section */
    #about-img {
        width: 14rem;
        border-radius: 90rem;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #logo {
        width: 7rem;
    }

    #icon-menu {
        margin-right: 0rem;
        border-radius: 3rem;
    }

     /* About section */
     #about-img {
        width: 15rem;
        border-radius: 90rem;
    }

}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
   
        /*moving the the logo from left*/
        .navbar-brand {
            margin-left: 3rem;
        }

        /* Logo width */
        #logo {
            width: 6rem;
        }

    /*moving the nav items from right*/
    #navbarTogglerDemo02 {
        margin-right: 6rem;
    }

    #icon-menu {
        margin-right: 5rem;
        border-radius: 3rem;
    }

    /* About section */
    #about-img {
        width: 12rem;
        border-radius: 90rem;
        position: relative;
        z-index: 1;
        top: -20rem;
        right: -17rem;
    }
 /* Contact section */
 #Contact {
    margin-top: -14rem;
 }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

     /*moving the the logo from left*/
     .navbar-brand {
        margin-left: 7rem;
    }

    /* logo width */
    #logo {
        width: 7rem;
    }

    /*moving the nav items from right*/
    #navbarTogglerDemo02 {
        margin-right: 10rem;
    }

    #home-content-header {
        margin-top: 8rem;
    }

    /* About section */
    #about-img {
        width: 13rem;
        border-radius: 90rem;
        position: relative;
        z-index: 1;
        top: -18rem;
        right: -25rem;
    }
     /* Contact section */
 #Contact {
    margin-top: -15rem;
 }
}

/* Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) {

    /*moving the the logo from left*/
    .navbar-brand {
        margin-left: 7rem;
    }

    /* Logo width */
    #logo {
        width: 8rem;
    }

    /*moving the nav items from right*/
    #navbarTogglerDemo02 {
        margin-right: 10rem;
    }

    #home-content-header {
        margin-top: 8rem;
    }

    /* About section */
    #about-img {
        width: 18rem;
        border-radius: 90rem;
        position: relative;
        z-index: 1;
        top: -19rem;
        right: -25rem;
    }

     /* Contact section */
 #Contact {
    margin-top: -19rem;
 }
}

/* Large devices (desktops, 1400px and up)*/
@media (min-width: 1400px) {

    /*moving the the logo from left*/
    .navbar-brand {
        margin-left: 8rem;
    }

    /* Logo width */
    #logo {
        width: 9rem;
    }

    /*moving the nav items from right*/
    #navbarTogglerDemo02 {
        margin-right: 18rem;
    }

    #home-content-header {
        margin-top: 8rem;
    }

    /* About section */
    #about-img {
        width: 20rem;
        border-radius: 90rem;
        position: relative;
        z-index: 1;
        top: -19rem;
        right: -28rem;
    }

     /* Contact section */
 #Contact {
    margin-top: -23rem;
 }
}

/* Large devices (desktops, 1600px and up)*/
@media (min-width: 1600px) {

    /*moving the the logo from left*/
    .navbar-brand {
        margin-left: 10rem;
    }

    /* Logo width */
    #logo {
        width: 9rem;
    }

    /*moving the nav items from right*/
    #navbarTogglerDemo02 {
        margin-right: 18rem;
    }


    #home-content-header {
        margin-top: 8rem;
    }

    /* About section */
    #about-img {
        width: 20rem;
        border-radius: 90rem;
        position: relative;
        z-index: 1;
        top: -19rem;
        right: -29rem;
    }

     /* Contact section */
 #Contact {
    margin-top: -24rem;
 }
}

/* Large devices (desktops, 1900px and up)*/
@media (min-width: 1900px) {

    /*moving the the logo from left*/
    .navbar-brand {
        margin-left: 12rem;
    }

    /* Logo width */
    #logo {
        width: 10rem;
    }

    /*moving the nav items from right*/
    #navbarTogglerDemo02 {
        margin-right: 18rem;
    }

    #home-content-header {
        margin-top: 8rem;
    }

    /* About section */
    #about-img {
        width: 24rem;
        border-radius: 90rem;
        position: relative;
        z-index: 1;
        top: -19rem;
        right: -32rem;
    }

     /* Contact section */
 #Contact {
    margin-top: -26rem;
 }
}