/* Styling Asteric wildcard selector to override the default styles added by the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the body */
body {
    background-color: #171717;
    color: #ffff;
    font-family: serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Styling the nav links */


header {
    width: 100%;
}

nav {
    width: 100%;
}

#logo {
    width: 3rem;
}

#nav-list a {
    color: #d9d6d6;
    font-size: 1.7rem;
}

#nav-list a:hover {
    transition-duration: 0.5s;
    color: #ff6633;
}

.title {
    color: #ff6633;
    font-family: 'The Season';
    text-align: center;
}

.hero-image {
    border-radius: 2rem;
}

/*Styling the Media queries and making the website responsive */



/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    #logo {
        width: 5rem;
    }

    #icon-menu {
        width: 1.8rem;
        border-radius: 3rem;
        padding: .5rem;
    }

    #span {
        width: 1.5rem;
        padding: .5rem;
        position: relative;
        right: 0;
        left: -.4rem;
    }


}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #logo {
        width: 7rem;
    }

    #icon-menu {
        margin-right: 0rem;
        border-radius: 3rem;
    }
}




/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #logo {
        width: 7rem;
    }

    /*moving the nav items from right*/
    #navbarTogglerDemo02 {
        margin-right: 5rem;
    }

    /*moving the the logo from left*/
    .navbar-brand {
        margin-left: 3rem;
    }

    #icon-menu {
        margin-right: 5rem;
        border-radius: 3rem;
    }
}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #logo {
        width: 7rem;
    }

    /*moving the nav items from right*/
    #navbarTogglerDemo02 {
        margin-right: 10rem;
    }

    /*moving the the logo from left*/
    .navbar-brand {
        margin-left: 7rem;
    }

    #home-content-header {
        margin-top: 8rem;
    }

}